body {
	/*background-color: #e5cde5;*/
	background-color: #000;
	color: white;
	font-family: Helvetica, sans-serif;
}

a, a:visited {
	color: #999;
}

img {
	width: 100%;
}
h1 {
	text-align: center;
}

h2{
	text-transform: uppercase;
}

ul,li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

/* nav */
nav {
	text-align: center;
	margin-bottom: 30px;
}

nav li {
	display: inline-block;
	margin-right: 10px;
}

nav li:last-child{
	margin-right: 0;
}

nav a, nav a:visited {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}

nav a:hover {
	text-decoration: underline;
}

nav .current_page {
	text-decoration: underline;
}

figure {
	width: 100%;
	max-width: 700px;
	margin:0 0 30px 0;
}

figure img {
	outline: 5px solid #fff;
}

.logo {
	width: 300px;
}
/* page */
.page {
	margin: auto;
	text-align: center;
	width: 90%;
	max-width: 700px;
}

#pastShowsBtn {
    font-size: 1.154em;
    font-weight: 400;
    padding-left: 10px;
    padding-top: 1em;
    min-height: 30px;
    margin: 0;
    display: none;
    text-transform: capitalize;
    text-align: left;
}
#pastShowsBtn.show {
	display: block;
}

#pastShows {
	display: none;
	text-align: left;
	margin-top: 10px;
}

#pastShows {
	list-style-type: disc;
}

#pastShows.show{
	display: block;
}

#records a {
	height: 300px;
	width: 300px;
	margin: 20px;
	display: inline-block;

}

#shop li {
	text-align: left;
	vertical-align: top;
	width: 300px;
	height: 550px;
	display: inline-block;
	margin: 10px;
}
#shop li img {
	height: 300px;
}

#videos iframe {
	margin-bottom: 20px;
	max-width: 100%;
}

#photos {
	max-width: 640px;
}
#contact {
	text-align: left;
}
#contact p {
	line-height: 1.6;
}
/* footer */
.footer {
	text-align: center;
	margin-top: 20px;
}

@media (max-width: 420px){
	nav li {
		margin: 0;
	}
}